@topbar-height: 33px;
@loading-info-width: 500px;
@loading-info-height: 125px;

#editor-topbar {
    position: relative;
    height: @topbar-height;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    z-index: 100;
    border-bottom:1px solid #999;
    box-sizing: border-box;
    .brand, .title {
        display:inline-block;
        font-size:16px;
        color: #333;
        line-height: @topbar-height;

        .logo {
            vertical-align: bottom;
        }
    }

    .brand {
        font-weight:bold;
    }

    .title {
        margin-left: 100px;
    }

    .btn-group {
        position:absolute;
        top:3px;
        right:1px;
    }
}

#editor-full-wrapper {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#editor-wrapper {
    position: relative;
    float: left;
    width: 50%;
    height: calc(100% - @topbar-height);
    border-right:1px solid #999;
}

#results-wrapper {
    position: relative;
    float: left;
    width: 50%;
    height: calc(100% - @topbar-height);
    background-color:#fff;
    background-image:
      -moz-linear-gradient(45deg, #ddd 25%, transparent 25%),
      -moz-linear-gradient(-45deg, #ddd 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #ddd 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ddd), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ddd), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ddd)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ddd));
    -moz-background-size:20px 20px;
    background-size:20px 20px;
    -webkit-background-size:20px 21px; /* override value for shitty webkit */
    background-position:0 0, 10px 0, 10px -10px, 0px 10px;
}

#results-frame {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#editor-loading-info {
    color: #fff;
    background: #2c3e50;

    ul {
        display: block;
        width: @loading-info-width;
        height: @loading-info-height;

        font-size: 2em;
        list-style: none;

        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: unit(-(@loading-info-height / 2), px);
        margin-left: unit(-(@loading-info-width / 2), px);

        li.loading {
            .spinner(20px, 1px);

            &::before {
                margin-right: 8px;
            }

            > span {
                display: none;
            }
        }

        li.done > span {
            color: #0f0;
            font-size: 20px;
            margin-right: 8px;
        }
    }
}
