{
    "Resources": {
        "PlaygroundApplication": {
            "Type": "AWS::ElasticBeanstalk::Application",
            "Properties": {
                "ApplicationName": "Pixi Playground",
                "Description": "Playground for creating pixi demos."
            }
        },
        "PlaygroundApplicationVersion": {
            "Type": "AWS::ElasticBeanstalk::ApplicationVersion",
            "Properties": {
                "ApplicationName": { "Ref" : "PlaygroundApplication" },
                "Description": "Playground application version.",
                "SourceBundle": {
                    "S3Bucket": "pixi-playground-builds",
                    "S3Key": "latest.zip"
                }
            }
        },
        "PlaygroundConfigurationTemplate": {
            "Type": "AWS::ElasticBeanstalk::ConfigurationTemplate",
            "Properties": {
                "ApplicationName": { "Ref": "PlaygroundApplication" },
                "Description": "Playground Configuration Template",
                "OptionSettings": [
                    {
                        "Namespace": "aws:autoscaling:asg",
                        "OptionName": "MinSize",
                        "Value": "2"
                    },
                    {
                        "Namespace": "aws:autoscaling:asg",
                        "OptionName": "MaxSize",
                        "Value": "6"
                    },
                    {
                        "Namespace": "aws:elasticbeanstalk:environment",
                        "OptionName": "EnvironmentType",
                        "Value": "LoadBalanced"
                    }
                ],
                "SolutionStackName": "64bit Amazon Linux 2016.09 v4.0.1 running Node.js"
            }
        },
        "PlaygroundEnvironment": {
            "Type": "AWS::ElasticBeanstalk::Environment",
            "Properties": {
                "ApplicationName": { "Ref" : "PlaygroundApplication" },
                "Description": "Main US environment.",
                "CNAMEPrefix": "pixi-playground-us",
                "Tier": {
                    "Name": "WebServer",
                    "Type": "Standard"
                },
                "TemplateName": { "Ref": "sampleConfigurationTemplate" },
                "VersionLabel": { "Ref": "sampleApplicationVersion" }
            }
        }
    }
}
