{
    "option_settings": {
        "aws:autoscaling:launchconfiguration": {
            "ImageId": "ami-b0c2e6d5",
            "InstanceType": "t2.micro",
            "InstanceMonitoring": false,
            "IamInstanceProfile": "pixi-playground-app-instance-profile"
        },
        "aws:elasticbeanstalk:environment": {
            "LoadBalancerType": "application"
        },
        "aws:elb:listener:443": {
            "SSLCertificateId": {
                "Fn::GetAtt" : ["PlaygroundSSLCerts", "Arn"]
            },
            "ListenerProtocol": "HTTPS",
            "InstancePort": 80
        },
        "aws:elasticbeanstalk:application:environment": {
            "NODE_ENV": "production",
            "DB_TABLE_NAME": "pixi-playground-items",
            "S3_BUCKET_NAME": "pixi-playground-items",
            "DB_IS_PUBLIC_INDEX_NAME": "isPublic-id-index",
            "DB_IS_FEATURED_INDEX_NAME": "isFeatured-id-index",
            "DB_IS_OFFICIAL_INDEX_NAME": "isOfficial-id-index"
        },
        "aws:elasticbeanstalk:container:nodejs": {
            "NodeCommand": "npm start",
            "ProxyServer": "nginx",
            "GzipCompression": true
        }
    }
}
