{
    "Resources": {
        "PlaygroundsTable": {
            "Type": "AWS::DynamoDB::Table",
            "Properties": {
                "TableName": {
                    "Fn::GetOptionSetting": {
                        "Namespace": "aws:elasticbeanstalk:application:environment",
                        "OptionName": "DB_TABLE_NAME",
                        "DefaultValue": "pixi-playground-items"
                    }
                },
                "AttributeDefinitions": [
                    {
                        "AttributeName": "id",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "version",
                        "AttributeType": "N"
                    },
                    {
                        "AttributeName": "isPublic",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "isFeatured",
                        "AttributeType": "S"
                    },
                    {
                        "AttributeName": "isOfficial",
                        "AttributeType": "S"
                    }
                ],
                "KeySchema": [
                    {
                        "AttributeName": "id",
                        "KeyType": "HASH"
                    },
                    {
                        "AttributeName": "version",
                        "KeyType": "RANGE"
                    }
                ],
                "GlobalSecondaryIndexes": [
                    {
                        "IndexName": {
                            "Fn::GetOptionSetting": {
                                "Namespace": "aws:elasticbeanstalk:application:environment",
                                "OptionName": "DB_IS_PUBLIC_INDEX_NAME",
                                "DefaultValue": "isPublic-id-index"
                            }
                        },
                        "KeySchema": [
                            {
                                "AttributeName": "isPublic",
                                "KeyType": "HASH"
                            },
                            {
                                "AttributeName": "id",
                                "KeyType": "RANGE"
                            }
                        ],
                        "ProvisionedThroughput": {
                            "ReadCapacityUnits": 1,
                            "WriteCapacityUnits": 1
                        },
                        "Projection": {
                            "ProjectionType": "ALL"
                        }
                    },
                    {
                        "IndexName": {
                            "Fn::GetOptionSetting": {
                                "Namespace": "aws:elasticbeanstalk:application:environment",
                                "OptionName": "DB_IS_FEATURED_INDEX_NAME",
                                "DefaultValue": "isFeatured-id-index"
                            }
                        },
                        "KeySchema": [
                            {
                                "AttributeName": "isFeatured",
                                "KeyType": "HASH"
                            },
                            {
                                "AttributeName": "id",
                                "KeyType": "RANGE"
                            }
                        ],
                        "ProvisionedThroughput": {
                            "ReadCapacityUnits": 1,
                            "WriteCapacityUnits": 1
                        },
                        "Projection": {
                            "ProjectionType": "ALL"
                        }
                    },
                    {
                        "IndexName": {
                            "Fn::GetOptionSetting": {
                                "Namespace": "aws:elasticbeanstalk:application:environment",
                                "OptionName": "DB_IS_OFFICIAL_INDEX_NAME",
                                "DefaultValue": "isOfficial-id-index"
                            }
                        },
                        "KeySchema": [
                            {
                                "AttributeName": "isOfficial",
                                "KeyType": "HASH"
                            },
                            {
                                "AttributeName": "id",
                                "KeyType": "RANGE"
                            }
                        ],
                        "ProvisionedThroughput": {
                            "ReadCapacityUnits": 1,
                            "WriteCapacityUnits": 1
                        },
                        "Projection": {
                            "ProjectionType": "ALL"
                        }
                    }
                ],
                "ProvisionedThroughput": {
                    "ReadCapacityUnits": 1,
                    "WriteCapacityUnits": 1
                }
            }
        }
    }
}
