{
    "Resources": {
        "PlaygroundItemsBucket": {
            "Type": "AWS::S3::Bucket",
            "DeletionPolicy": "Delete",
            "Properties": {
                "BucketName": {
                    "Fn::GetOptionSetting": {
                        "Namespace": "aws:elasticbeanstalk:application:environment",
                        "OptionName": "S3_BUCKET_NAME",
                        "DefaultValue": "pixi-playground-items"
                    }
                },
                "AccessControl" : "PublicRead",
                "CorsConfiguration": {
                    "CorsRules": [
                        {
                            "AllowedHeaders": ["*"],
                            "AllowedMethods": ["GET"],
                            "AllowedOrigins": ["*"],
                            "ExposedHeaders": ["Date"],
                            "Id": "publicReadCorsRule",
                            "MaxAge": "31556926"
                        }
                    ]
                }
            }
        }
    },
    "Outputs": {
        "PlaygroundItemsBucketArn": {
            "Description": "The ARN of PlaygroundItemsBucket",
            "Value": {
                "Fn::Join": [
                    ":",
                    [
                        "arn:aws:s3:::",
                        { "Ref": "PlaygroundItemsBucket" }
                    ]
                ]
            }
        }
    }
}
