{
    "Resources": {
        "PlaygroundAppPolicy": {
            "Type": "AWS::IAM::Policy",
            "Properties": {
                "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Sid": "DBAccess",
                            "Effect": "Allow",
                            "Action": [
                                "dynamodb:BatchGetItem",
                                "dynamodb:BatchWriteItem",
                                "dynamodb:DeleteItem",
                                "dynamodb:DescribeTable",
                                "dynamodb:GetItem",
                                "dynamodb:PutItem",
                                "dynamodb:UpdateItem",
                                "dynamodb:Query",
                                "dynamodb:Scan"
                            ],
                            "Resource": [
                                {
                                    "Fn::ImportValue": "PlaygroundsTableArn"
                                }
                            ]
                        },
                        {
                            "Sid": "S3ItemsAccess",
                            "Effect": "Allow",
                            "Action": [
                                "s3:DeleteObject",
                                "s3:GetObject",
                                "s3:GetObjectVersion",
                                "s3:PutObject",
                                "s3:RestoreObject"
                            ],
                            "Resource": [
                                {
                                    "Fn::ImportValue" : "PlaygroundItemsBucketArn"
                                }
                            ]
                        }
                    ]
                }
            }
        },
        "PlaygroundAppRole": {
            "Type": "AWS::IAM::Policy",
            "Properties": {
                "Policies": [
                    "AWSElasticBeanstalkWebTier",
                    {
                        "Ref": "PlaygroundAppPolicy"
                    }
                ]
            }
        },
        "PlaygroundAppInstanceProfile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Properties": {
                "InstanceProfileName": {
                    "Fn::GetOptionSetting": {
                        "Namespace": "aws:autoscaling:launchconfiguration",
                        "OptionName": "IamInstanceProfile",
                        "DefaultValue": "aws-elasticbeanstalk-ec2-role"
                    }
                },
                "Roles": [
                    {
                        "Ref": "PlaygroundAppRole"
                    }
                ]
            }
        }
    }
}
